.form-container {
	height: 500px;
}

.loading {
	height: 100px;
	width: 500px;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom: 20px;
	visibility: hidden;
	text-align: center;
}

#download-type {
	text-transform: capitalize;
}
